@charset "utf-8";
/*  user center public style                */
.ucwrap { margin-top:5px; }

.ucnav { width:180px; }
.ucont { width:760px; }

/*common background-image*/
.ucnav-hd, .ucmenu dt, .ucmenu .ucm-hd, .ucm-items li a, .ucm-items li a:hover, .ucm-items li.current a, .uc-edit, .uc-rmdtab li, .uc-lodtb-tit, .uc-loadtb-table th, .uc-lodtb-sicon, .uc-igl-listhd, .uc-igl-table th, .uc-chgplace i { background:url(../image/ucrepeat.png); }
.uc-edit-order, .uc-edit-order span, .uc-odsh-btn, .uc-odsh-btn span, .uc-reg-emlvld, .uc-reg-emlvld span, .ucchg-savebtn, .igl-sdemlbtn, .igl-atvbtn { background:url(../image/ucbutton.png); }
/*module style*/
.ucnav-hd { height:30px; background-position:0 0; background-repeat:repeat-x; }
.ucnav-hd h3 { line-height:30px; text-indent:12px; font-size:14px; color:#FFFFFF; }
.ucmenu { border:1px solid #AED5FF; }
.ucmenu dt { height:30px; padding-left:10px; line-height:30px; background-position:0 -30px; background-repeat:repeat-x; cursor:pointer; }
.ucmenu .ucm-hd { font-size:12px; color:#1D689C; padding-left:15px; background-position:0 -59px; background-repeat:no-repeat; }
.ucmenu .up { background-position:0 -89px; background-repeat:no-repeat; }
.ucm-items { padding:8px 5px; }
.ucm-items li {  height:24px; line-height:24px; }
.ucm-items li a { display:block; padding-left:15px; background-position:0 -120px; background-repeat:no-repeat; color:#4d4d4d; }
.ucm-items li a:hover, .ucm-items li.current a { background-color:#3684C6; background-position:0 -120px; background-repeat:no-repeat; color:#FFFFFF; text-decoration:none; }
.ucm-items li.current a { font-weight:700; }

.ucm-tab { height:28px; border-bottom:2px solid #FF5500; }
.ucm-tab li { float:left; _display:inline; padding:0 20px; height:27px; background-position:0 -145px; background-repeat:repeat-x; margin-right:5px; border:1px solid #E4E4E4; border-bottom:0 none; line-height:26px; cursor:pointer; }
.ucm-tab li.current { background-position:0 -175px; background-repeat:repeat-x; border-color:#FF5500; background:#fe5b03;}
.ucm-tab li a { color:#4D4D4D; font-size:12px; }
.ucm-tab li.current a { color:#FFF; font-weight:700; font-size:14px; }
.ucm-tab li a:hover { text-decoration:none; }
