@charset "utf-8";
/* 用户中心修改密码CSS */
.uc-ubipanel { position:relative; padding:20px 30px; border:1px solid #C5E6F9; }
.uc-ubifrm { width:100%; }
.uc-ubifrm td { padding:5px 0; border-bottom:1px solid #FFF; }
.uc-ubifrm td.hover { border-bottom:1px dashed #DDD; background:#F9F9F9; }
.uc-ubifrm td.uc-ubifrm-label { text-align:right; }
.uc-ubifrm td.ucchg-btm-label { text-align:center; }
.uc-ubifrm td.vtop { vertical-align:text-top; }
.uc-ubifrm p { color:#777; }
.uc-ubifrm .uc-nmipt, .uc-ubifrm .uc-emlipt, .uc-ubifrm .uc-adsipt, .uc-ubifrm .uc-zipipt, .uc-ubifrm .uc-opipt { height:18px; line-height:20px; padding:3px; border:1px solid #D5D5D5; border-radius:2px; box-shadow:1px 2px 0 #EEE; }
.uc-ubifrm .uc-reg-emlvld { display:inline-block; *display:inline; *zoom:1; *margin-bottom:5px; height:22px; margin-top:3px; line-height:22px; padding-left:10px; background-position:0 0; background-repeat:no-repeat; color:#ED5C00; }
.uc-ubifrm .uc-reg-emlvld span { display:inline-block; *display:inline; *zoom:1; height:22px; line-height:22px; cursor:pointer; padding-right:10px; background-position:right -22px; background-repeat:no-repeat; }
.uc-ubifrm .uc-nmipt { width:125px; margin-right:5px; }
.uc-ubifrm .uc-emlipt { width:180px; margin-right:10px; }
.uc-ubifrm .uc-adsipt { width:340px; }
.uc-ubifrm .uc-zipipt { width:90px; }
.uc-ubifrm .uc-opipt { width:410px; }
.uc-ubifrm .uc-inputips { margin-left:5px; }
.uc-ubifrm select { float:left; margin-right:5px; padding:2px; border:1px solid #D5D5D5; }
.uc-ubifrm .ucchg-gender { margin-right:10px; }
.uc-ubifrm .ucchg-showbirthday { margin-left:10px; }
.uc-ubifrm .ucchg-gender input, .uc-ubifrm .ucchg-showbirthday input { width:12px; height:12px; overflow:hidden; margin-top:-3px; *margin-top:0; margin-right:3px; vertical-align:middle; font-family:Arial; }
.uc-ubifrm .iptfocus { border-color:#F60; background:#FFC; box-shadow:0 1px 1px #F60; }
.uc-ubifrm .ucchg-savebtn { display:inline-block; *display:inline; *zoom:1; width:125px; height:28px; line-height:28px; padding-bottom:1px; overflow:hidden; text-align:center; color:#4D4D4D; background-position:0 -100px; background-repeat:no-repeat; margin:0 auto; border:0 none; cursor:pointer; }
