{{if $data.message != ''}}
	{{$data.message}}
{{/if}}
{{include file='user_left.html'}}
<div class="fr ucont">
	<ul class="ucm-tab">
		<li><a href="{{$data.menu.user_info.my_info.href}}">基本信息</a></li>
		<li class="current"><a href="javascript:void(0);">修改密码</a></li>
	</ul>
	<div class="uc-ubipanel">
		{{$data.form}}
			{{$data.hid_input}}
			<table class="uc-ubifrm">
				<tbody>
					<tr>
						<td class="uc-ubifrm-label" width="65"><label for="ucchg-crtpwd">当前密码：</label></td>
						<td><input type="password" id="ucchg-crtpwd" class="uc-nmipt" name="password_current" value="" /></td>
					</tr>
					<tr>
						<td class="uc-ubifrm-label" width="65"><label for="ucchg-newpwd">新密码：</label></td>
						<td><input type="password" id="ucchg-newpwd" class="uc-nmipt" name="password_new"/> <span
							class="uc-inputips">5-12个字符，可以由数字、英文、符号组成。 </span></td>
					</tr>
					<tr>
						<td class="uc-ubifrm-label" width="65"><label
							for="ucchg-renewpwd">确认密码：</label></td>
						<td><input type="password" id="ucchg-renewpwd" class="uc-nmipt" name="password_confirmation" />
						<span class="uc-inputips">请再输入一次新密码。 </span></td>
					</tr>
					<tr>
						<td colspan="2" class="ucchg-btm-label"><input type="submit"
							value="提交" class="ucchg-savebtn" /></td>
					</tr>
				</tbody>
			</table>
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.uc-ubifrm tr').hover(function() {
					$(this).find('td').addClass('hover');
				}, function() {
					$(this).find('td').removeClass('hover');
				});
				$('.uc-ubifrm input[type="password"]').focus(function() {
					$(this).addClass('iptfocus');
				});
				$('.uc-ubifrm input[type="password"]').blur(function() {
					$(this).removeClass('iptfocus');
				});
			});
		</script>
	</div>
</div>