<div class="swrap sfix">
<ul class="smenu">
    <li class="selected"><a>联盟首页</a></li>
    <li><a href="{{$data.affiliate_agreement}}">联盟协议</a></li>
    <li><a href="{{$data.affiliate_banners.none}}">获取广告</a></li>
    <li><a href="{{$data.affiliate_payment}}">结算中心</a></li>
    <li><a href="{{$data.affiliate_faq}}">常见问题</a></li>
</ul>
<div class="smain">
    <div class="spic_box" id="spic_box">
        <div class="spic_img">
            <ul>
                <li><img src="/tpl/www/image/affiliate/{{$data.charset}}.01.jpg" width="715" height="253" alt="加入走四方联盟，体验VIP推广待遇" /></li>
                <li><img src="/tpl/www/image/affiliate/{{$data.charset}}.02.jpg" width="715" height="253" alt="走四方联盟，诚邀天下英雄" /></li>
                <li><img src="/tpl/www/image/affiliate/{{$data.charset}}.03.jpg" width="715" height="253" alt="省到即赚到，走四方优惠码" /></li>
                <li><img src="/tpl/www/image/affiliate/{{$data.charset}}.04.jpg" width="715" height="253" alt="走四方销售联盟，强强联合共创双赢" /></li>
                <li><img src="/tpl/www/image/affiliate/{{$data.charset}}.05.jpg" width="715" height="253" alt="免费加盟，畅想最高收益" /></li>
            </ul>
        </div>
    </div>

    <div class="{{$data.charset}}_sstep">
        <dl>
            <dt>只需3步，快速赚钱</dt>
            <dd>01，自选推广模式</dd>
            <dd>02，轻松产生订单</dd>
            <dd>03，获取高额收益</dd>
        </dl>
    </div>
    <div class="sinfo sfix">
        <div class="sinfo_article">
            <h3 class="sinfo_title">联盟介绍</h3>
            <p class="textindent">走四方销售联盟是全球最知名、最专业的境外旅游行业网络营销推广合作平台，免费加盟无门槛，模式灵活有惊喜，佣金丰厚、结算便捷、支付准时！是广大站长、行业公司、论坛SNS、博客微博、旅游爱好者、以及任意个人最佳的合作伙伴、最优的赚钱选择！</p>
            <p class="textindent">走四方旅游网销售联盟作为最优质的互联网赚钱联盟体系，运作经验丰富，拥有着行业内最多样的合作模式、最高额的佣金分成、最优秀的用户体验、以及最活跃的合作氛围！信息反馈及时清晰，业绩记录准确公正，佣金支付更无拖欠，品牌保障，口碑优秀！走四方旅游网诚邀天下英雄，强强联合，共创双赢！</p>
        </div>
        <div class="sinfo_article">
            <h3 class="sinfo_title">加盟条件</h3>
            <p class="textindent">加入走四方旅游网销售联盟的条件非常简单，您拥有个人网站、注册一个论坛ID、开设一个博客微博，甚至什么都不需要，只要您的朋友或家人有着旅游计划，您就可以随时申请加入！</p>
            <p class="textindent">加入后，您更是可以随时随地通过网络、电话、邮件、短信、直接面对面等任意形式向您的访客、朋友、家人等进行推荐。在您的家人朋友享受到折扣优惠的同时，您同样也轻松赚取了高额的佣金！</p>
        </div>
        <div class="sinfo_article">
            <h3 class="sinfo_title">加盟流程</h3>
            <div class="sprocess">
                <ul class="sfix">
                    <li class="nomargin">
                        <dl>
                            <dt>申请加入联盟</dt>
                            <dd><p>提交联盟加入申请并通过审核后，即可进行推广了</p></dd>
                        </dl>
                        <a href="{{$data.affiliate_my_info}}" class="sapply">申请联盟</a>
                    </li>
                    <li>
                        <dl>
                            <dt>选择推广模式</dt>
                            <dd><p>多种推广模式任选，全方位满足各类推广人士需求</p></dd>
                        </dl>
                        <a href="{{$data.affiliate_banners.none}}" class="sgetcode">获取代码</a>
                    </li>
                    <li>
                        <dl>
                            <dt>用户订购产品</dt>
                            <dd><p>通过你的推广引入走四方旅游网的客户佣金全归你</p></dd>
                        </dl>
                        <a href="{{$data.affiliate_banners.none}}" class="ssendad">广告投放</a>
                    </li>
                    <li>
                        <dl>
                            <dt>佣金快捷结算</dt>
                            <dd><p>每月固定时间以上月出团金额的对应佣金自动结算</p></dd>
                        </dl>
                        <a href="{{$data.affiliate_payment}}" class="ssettle">结算中心</a>
                    </li>
                </ul>
                <p class="spact">联盟协议：<a href="{{$data.affiliate_agreement}}">详情请点击走四方销售联盟协议</a></p>
            </div>
        </div>
        <div class="sinfo_article sfix">
            <h3 class="sinfo_title">推广方式</h3>
            <ul class="sinfo_spread sfix">
                <li class="nomarg">
                    <a href="{{$data.affiliate_banners.promocode_tag}}" class="bg1">优惠码</a>
                    <p>任何朋友使用你的Coupon Code，他获折扣你获佣金</p>
                </li>
                <li>
                    <a href="{{$data.affiliate_banners.imagetext_tag}}" class="bg2">图文广告</a>
                    <p>线路/活动/城市/景点任选，图文/类型/尺寸自定义</p>
                </li>
                <li>
                    <a href="{{$data.affiliate_banners.search_tag}}" class="bg4">搜索框嵌入</a>
                    <p>网站上嵌入搜索框，直达购物页面，方便快捷</p>
                </li>
                <li>
                    <a href="{{$data.affiliate_banners.custom_tag}}" class="bg5">自定义链接</a>
                    <p>在邮件、论坛或博客中直接留下您自定义的链接</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sside">

    <div class="ssign">
        <dl>
            {{*登录与非登录显示区域*}}
            {{*未登录用户 @todo 还未判断是否为联盟会员*}}
            {{if $data.affiliate_id == 0 or $data.affiliate_verified == 0}}
                {{if $data.is_login == 0}}
                    {{$data.form_start}}
                    <dt>登录销售联盟</dt>
                    <dd><input autocomplete="off" id="email_address" name="email_address" type="text" class="sipt" /><label for="email_address" class="slabel">用户名</label></dd>
                    <dd><input autocomplete="off" id="password" name="password" type="password" title="请输入密码" class="sipt" /><label for="password" class="slabel">密码</label></dd>
                    <dd><input type="submit" class="sbmt" value="登录" /><a href="{{$data.password_forgotten}}" class="sforget_pwd">忘记密码了?</a></dd>
                    <dd><a href="{{$data.create_account}}" class="sreg">马上免费注册加盟！</a></dd>
                    <dd class="spersons">已有<em></em>人加入我们！</dd>
                    {{$data.form_end}}
                {{else}}
                    <dt>销售联盟信息</dt>
                    <dd style="margin:0;padding:0;text-indent:0;">
                        <p class="ssign-tips-text">您还不是网站联盟会员哦！</p>
                        <a href="{{$data.affiliate_my_info}}" class="join join-btn">现在就加入</a>
                        <p class="ssign-tips-small">走四方网站联盟!</p>
                    </dd>
                {{/if}}
            {{else}}
                <dt>销售联盟信息</dt>
                <dd class="affiliate-info">尊敬的<strong id="userName">{{$data.customerInfo.customer_name}}</strong>联盟会员欢迎回来！您的销售联盟信息如下：</dd>
                <dd>广告显示总次数：<b>{{$data.affiliateInfo.affiliate_impressions}}</b></dd>
                <dd>广告点击总次数：<b>{{$data.affiliateInfo.affiliate_clickthroughs}}</b></dd>
                <dd>转换率：<b>{{$data.affiliateInfo.affiliate_conversions}}</b></dd>
                <dd>交易订单总数：<a href="{{$data.affiliate_sales}}">{{$data.affiliateInfo.affiliate_transactions}}</a></dd>
                <dd><a href="{{$data.affiliate_summary}}" style="color:#ee8011;text-decoration:underline;">查看概要明细</a></dd>
            {{/if}}


        </dl>
    </div>

    <div class="sub_side">
        <h3 class="sub_header">我们的优势</h3>
        <ul class="central">
            <li>全球知名&middot;华人首选</li>
            <li>品牌力量&middot;商誉保障</li>
            <li>免费加盟&middot;绝无门槛</li>
            <li>合作愉快&middot;模式灵活</li>
            <li>佣金丰厚&middot;完美双赢</li>
            <li>产品众多&middot;性价比高</li>
            <li>业绩准确&middot;结算便捷</li>
            <li>支付准确&middot;绝无拖欠</li>
            <li class="last"><a href="{{$data.affiliate_faq}}#list5" class="view_more_btn">查看详情&gt;&gt;</a></li>
        </ul>
    </div>
    <div class="sub_side">
        <h3 class="sub_header">常见问题</h3>
        <ul class="sub_list">
            <li>&middot;<a href="{{$data.affiliate_faq}}#list1">什么是走四方销售联盟？</a></li>
            <li>&middot;<a href="{{$data.affiliate_faq}}#list5">走四方销售联盟有何优势？</a></li>
            <li>&middot;<a href="{{$data.affiliate_faq}}#list6">我没有网站，可以加入吗？</a></li>
            <li>&middot;<a href="{{$data.affiliate_faq}}#list7">什么是Coupon Code(优惠码)？</a></li>
            <li>&middot;<a href="{{$data.affiliate_faq}}#list10">我可以自己制作广告的样式吗？</a></li>
            <li>&middot;<a href="{{$data.affiliate_faq}}#list12">走四方的佣金是怎么结算的？</a></li>
            <li class="last"><a href="{{$data.affiliate_faq}}" class="view_more_btn">查看详情&gt;&gt;</a></li>
        </ul>
    </div>
    {{if $data.sales_ranking_list|@count > 0}}
    <div class="sub_side">
        <h3 class="sub_header">月收入龙虎榜</h3>
        <ul class="sub_rank">
            {{foreach from=$data.sales_ranking_list item=rank key=key}}
            <li><a target="_blank" href="{{$rank.affiliate_news}}">{{$news.title}}</a></li>
            <li><i class="{{if $key > 2}}after_top3{{else}}top_3{{/if}}">{{$key+1}}</i><span>{{$rank.affiliate_firstname}}***</span><em></em></li>
            {{/foreach}}
        </ul>
    </div>
    {{/if}}

    <div class="sub_side">
        <h3 class="sub_header">联系我们</h3>
        <div class="sub_contact">
            <dl class="telphone">
                <dt class="hotline">客服热线</dt>
                <dd>美加：001-888-887-2816</dd>
                <dd>中国：0086-4006-3333-926</dd>
            </dl>
            <dl>
                <dt class="email">邮箱</dt>
                <dd>客服：service@usitrip.com</dd>
                <dd>市场：marketing@usitrip.com</dd>
            </dl>
        </div>
    </div>
    {{if $data.affiliate_News_list|@count > 0  and $data.affiliate_News_list.0.id > 0}}
        <div class="sub_side">
            <h3 class="sub_header">网站联盟公告</h3>
            <ul class="sub_list">
                {{foreach from=$data.affiliate_News_list item=news}}
                    <li><a target="_blank" href="{{$data.affiliate_news}}">{{$news.title}}</a></li>
                {{/foreach}}

                {{if $data.affiliate_News_list|@count > 1}}
                    <li><a target="_blank" href="{{$data.affiliate_news}}">更多公告&gt;&gt;</a></li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
</div>
</div>

