{{$data.formTag}}
<div class="ui-checked-tab fix">
    <ul class="ui-checked-type">
        <li class="{{if $data.current == 'mobile'}}checked{{/if}}"><label for="mobile"><input type="radio" name="checktype" id="mobile" {{if $data.current == 'mobile'}} checked="checked"{{/if}}>手机验证</label></li>
        <li class="{{if $data.current != 'mobile'}}checked{{/if}}"><label for="email"><input type="radio" name="checktype" id="email" {{if $data.current != 'mobile'}} checked="checked"{{/if}}>邮箱验证</label></li>
    </ul>
    <div class="ui-checked-wrap">
        <div id="J_Mobile"{{if $data.current != 'mobile'}} style="display: none"{{/if}}>
            <i class="role m jiao"></i>
            <div class="m-box fix">
                <div id="M_ErrorMsg">{{if $data.current == 'mobile'}}{{$data.errorMsg}}{{/if}}</div>
                <p class="tips-text">您可以通过有效的绑定手机重置登录密码。</p>
                <div class="fp_form">
                    <div style="display: inline-block"  id="mobile_input"></div>
                    <input type="submit" class="fp_btn" value="找回密码" />
                </div>
            </div>
        </div>
        <div id="J_Email"{{if $data.current == 'mobile'}} style="display: none"{{/if}}>
            <i class="role e jiao"></i>
            <div class="e-box fix">
                <div id="E_ErrorMsg">{{if $data.current != 'mobile'}}{{$data.errorMsg}}{{/if}}</div>
                <p class="tips-text">您可以通过有效的绑定邮箱重置登录密码。</p>
                <div class="fp_form">
                    <input type="hidden" name="email_sms_post" value="{{if $data.current == 'mobile'}}mobile{{else}}email{{/if}}" id="email_sms_post_id"/>
                    <input onblur="this.value = simplized(this.value);" type="text" name="email_sms_input" class="fp_ipt" placeholder="请输入您绑定的邮箱帐号"/>
                    <input type="submit" class="fp_btn" value="找回密码"/>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    $('input[name="checktype"]').click(function(){
        var val = $(this).attr('id');
        $('.ui-checked-type > li').removeClass('checked');
        $(this).parents('li').addClass('checked');
        if (val == 'email') {
            $('#J_Mobile').hide();
            $('#J_Email').show();
        } else {
            $('#J_Mobile').show();
            $('#J_Email').hide();
        }
        $('#email_sms_post_id').val(val);
    });
    new usitrip.widget.MobilePhoneField({
        el:'#mobile_input',
        initValue : {
            placeholder:'请输入您绑定的手机号码',
            phoneWidth:160,
            zhWidth:34
        },
        name:'mobile_sms_input',
        tipson:false
    });
</script>