<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="走四方旅游网" />
<meta name="keywords" content="走四方旅游网" />
<link rel="stylesheet" type="text/css" href="css/public.css" />
<link rel="stylesheet" type="text/css" href="css/product.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<script type="text/javascript" src="js/product.js"></script>
<title>走四方旅游网-产品列表页</title>
</head>

<body>
<div id="sitebg">
    <div id="topbar">
        <div class="uiWrap">
            <div class="fr">
            	<ul class="fl uhmenu">
                	<li class="freeregister"><a href="">会员登录</a><a href="">免费注册</a></li>
                    <li class="userhome">
                    	<a href="">用户中心</a>
                        <div class="uhmenutree hide">
                        	<a href="">我的订单</a>
                            <a href="">我的收藏</a>
                        </div>
                    </li>
                </ul>
                <ul class="fl helpmenu">
                	<li class="helpcenter"><a href="">帮助中心</a></li>
                    <li><a href="" class="traditional">繁体</a></li>
                    <li><a href="" class="english">English</a></li>
                </ul>
            </div>
            <span class="topwords">UsiTrip走四方旅游网-Your Trip , Our Care!</span>
        </div>
    </div>
    <div id="head">
    	<div class="hd">
        	<div class="fl logo"><a href="" title="欢迎来到走四方网">走四方网</a></div>
            <div class="fl grade">
            	<a href="">全球华人首选出国旅游网站<br>美国BBB认证最高商誉评级</a>
            </div>
            <div class="fl hdsearch">
            	<form action="" method="">
                	<div class="fl rel hdsearchIpt">
                    	<input type="text" class="hdsearchWords" placeholder="请输入出发城市或想去的景点" />
                        <ul class="abs hdAutocomplete">
                        	<li><a href="">纽约</a></li>
                            <li><a href="">黄石公园</a></li>
                        </ul>
                    </div>
                    <input type="submit" class="fr hdsearchSubmit" value="搜索" />
                </form>
            </div>
            <div class="fr hdContact">
            	<ul>
                	<li>1-888-887-2816(美加)</li>
                    <li>4006-333-926(中国)</li>
                </ul>
            </div>
        </div>
        <div class="nav">
        	<ul class="navItems">
                <li class="current"><a href="#"><span>首页</span></a></li>
                <li><a href="#"><span>美东</span></a></li>
                <li><a href="#"><span>美西</span></a></li>
                <li><a href="#"><span>夏威夷</span></a></li>
                <li><a href="#"><span>加拿大</span></a></li>
                <li><a href="#"><span>欧洲</span></a></li>
                <li><a href="#"><span>海外游学</span></a></li>
                <li><a href="#"><span>酒店预订</span></a></li>
                <li><a href="#"><span>签证</span></a></li>
                <li><a href="#"><span>结伴同游</span></a></li>
                <li class="last"><a href="#"><span>美国特色游</span></a></li>
            </ul>
            <div class="navbar">
                <dl class="fl navScenic">
                    <dt>热门景点：</dt>
                    <dd>
                        <a href="">黄石公园</a>
                        <a href="">洛杉矶</a>
                        <a href="">纽约</a>
                        <a href="">华盛顿</a>
                        <a href="">旧金山</a>
                        <a href="">拉斯维加斯</a>
                        <a href="">主题乐园</a>
                        <a href="">波士顿</a>
                        <a href="">檀香山</a>
                        <a href="">奥兰多</a>
                    </dd>
                </dl>
                <div class="fr shopcart">
                	<a href="" class="fl shoptotal">购物车<em>2</em>件</a>
                    <a href="" class="fr shopbtn">去结算</a>
                    <div class="shopview hide">
                        <ul class="shopview_list">
                            <li>
                                <div class="fl shopview_pic">
                                    <a href="#"><img src="_product/shopcart.jpg" alt="美国西海岸洛杉矶营地1+1周英语探索游-B"></a>
                                </div>
                                <div class="shopview_info">
                                    <p><a href="#">美国西海岸洛杉矶营地1+1周英语探索游-B</a></p>
                                    <p><em class="shop_price">$10954.00</em><a href="#" class="shop_del">删除</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="fl shopview_pic">
                                    <a href="#"><img src="_product/shopcart.jpg" alt="美国西海岸洛杉矶营地1+1周英语探索游-B"></a>
                                </div>
                                <div class="shopview_info">
                                    <p><a href="#">美国西海岸洛杉矶营地1+1周英语探索游-B</a></p>
                                    <p><em class="shop_price">$10954.00</em><a href="#" class="shop_del">删除</a></p>
                                </div>
                            </li>
                        </ul>
                        <div class="shopview_account">
                            <p>共计<em>1</em>件商品 金额总计：<em class="account_money">$879.00</em></p>
                            <a href="#" class="fr account_btn">去购物车并结算</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body">
    	<div class="pbread">
        	<a href="">首页</a>&gt;<a href="" class="current">美东</a>
        </div>
    	<div class="fr pmain">
        	<ul class="pro-type-tab">
            	<li class="current"><a href="">经典休闲游</a></li>
                <li><a href="">周边热点游</a></li>
                <li><a href="">限时抢购团</a></li>
            </ul>
            <div class="pro-city uifix">
            	<h4>想去哪儿：</h4>
                <ul class="pro-city-list">
                	<li><a href="" class="all">全部</a></li>
                    <li><a href="">华盛顿</a></li>
                    <li><a href="">纽约</a></li>
                    <li><a href="">费城</a></li>
                    <li><a href="">巴尔的摩</a></li>
                    <li><a href="">波士顿</a></li>
                    <li><a href="">仙人洞</a></li>
                    <li><a href="">独立纪念馆</a></li>
                    <li><a href="">自由钟</a></li>
                    <li><a href="">航空航天博物馆</a></li>
                    <li><a href="" class="more">查看更多&gt;&gt;</a></li>
                </ul>
                <i class="tiprole role"></i>
            </div>
            <div class="pro-select uifix">
                <p><a href="#" class="reset-select">重置筛选条件</a><span class="fl">您选择了<strong class="all-product">全部</strong> - 继续筛选：</span></p>
                <ul class="pro-select-list">
                	<li>
                    	<h5>出发城市：</h5>
                        <div class="pro-select-links">
                            <a href="" class="no-limit">不限</a>
                            <a href="">华盛顿</a>
                            <a href="">纽约</a>
                            <a href="">费城</a>
                            <a href="">巴尔的摩</a>
                            <a href="">波士顿</a>
                            <a href="">北京</a>
                            <a href="">上海</a>
                            <a href="">芝加哥</a>
                            <a href="">亚特兰大</a>
                        </div>
                    </li>
                    <li>
                    	<h5>结束城市：</h5>
                        <div class="pro-select-links">
                            <a href="" class="no-limit">不限</a>
                            <a href="">华盛顿</a>
                            <a href="">纽约</a>
                            <a href="">费城</a>
                            <a href="">巴尔的摩</a>
                            <a href="">波士顿</a>
                            <a href="">北京</a>
                            <a href="">上海</a>
                            <a href="">芝加哥</a>
                            <a href="">亚特兰大</a>
                            <a href="">北京</a>
                            <a href="">上海</a>
                            <a href="">芝加哥</a>
                            <a href="">亚特兰大</a>
                        </div>
                    </li>
                    <li>
                    	<h5>行程天数：</h5>
                        <div class="pro-select-links">
                            <a href="" class="no-limit">不限</a>
                            <a href="">4-5天</a>
                            <a href="">6-7天</a>
                            <a href="">8-10天</a>
                            <a href="">10天以上</a>
                        </div>
                    </li>
                    <li>
                    	<h5>旅游预算：</h5>
                        <div class="pro-select-links">
                            <a href="" class="no-limit">不限</a>
                            <a href="">$100以内</a>
                            <a href="">$101-$200</a>
                            <a href="">$201-$500</a>
                            <a href="">$501-$1000</a>
                            <a href="">$2000以上</a>
                        </div>
                    </li>
                    <li>
                    	<h5>旅游预算：</h5>
                        <div class="pro-select-links">
                            <a href="" class="no-limit">全部</a>
                            <a href="">买二送一</a>
                            <a href="">低价保证</a>
                        </div>
                    </li>
                </ul>
                <div class="pro-select-adjust">
                	<span class="pro-adjust-btn" status="down">∨展开</span>
                </div>
            </div>
            <div class="pro-list-panel">
                <div class="pro-list-hd">
                	<div class="fr pro-sort">
                    	<span class="fl">排序：</span>
                        <a href="" class="fl up-normal">价格</a><a href="" class="fl up-normal">持续时间</a>
                        <select id="proSort" class="fl pro-sort-select">
                        	<option value="default">--默认排序--</option>
                            <option value="1">按持续时间升序</option>
                        </select>
                    </div>
                    <p class="fl pro-total">共<em class="pro-total-number">130</em>个行程：</p>
                </div>
                <div class="pro-list-pager pager-top">
                    <ul>
                    	<li class="current"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">下一页</a></li>
                        <li><a href="">末页</a></li>
                    </ul>
                </div>
                <div class="pro-list-items">
                	<ul>
                    	<li>
                        	<h4 class="pro-list-itemtit"><a href="">美国西海岸洛杉矶营地1+1周英语探索游-B</a></h4>
                            <div class="pro-item-cont">
                            	<div class="pro-item-pic">
                                	<div class="product-pic">
                                    	<a href=""><img src="_product/product-list-pic.jpg" /></a>
                                    </div>
                                    <ul class="product-comments">
                                    	<li><a href="">结伴同游(<em>0</em>)</a></li>
                                        <li><a href="">评论(<em>0</em>)</a></li>
                                        <li><a href="">满意度(<em>100%</em>)</a></li>
                                        <li><a href="">咨询(<em>1</em>)</a></li>
                                    </ul>
                                </div>
                                <div class="pro-item-info">
                                	<table>
                                    	<tbody>
                                        	<tr>
                                            	<td class="pro-info-des">旅游团号：</td>
                                                <td><span class="pro-tuan-nub">BJ223-1770</span></td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出发城市：</td>
                                                <td>北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">结束城市：</td>
                                                <td>上海, 北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出团时间：</td>
                                                <td>2012年7月25日 - 2012年7月30日 : 每日</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">行程特色：</td>
                                                <td>一周特色英语培训，和美国师生互动交流，寄宿美国家庭。白宫，国会大厦，自由女神像，华尔街，迪斯尼乐园，环球影城，看不一样的风景；美... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pro-item-booking">
                                        <p><em>$5477</em>起</p>
                                        <a href="" class="booking-btn">预订行程</a>
                                        <span class="product-integral">赠5,477<a href="">积分</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="even">
                        	<h4 class="pro-list-itemtit"><a href="">美国西海岸洛杉矶营地1+1周英语探索游-B</a></h4>
                            <div class="pro-item-cont">
                            	<div class="pro-item-pic">
                                	<div class="product-pic">
                                    	<a href=""><img src="_product/product-list-pic.jpg" /></a>
                                    </div>
                                    <ul class="product-comments">
                                    	<li><a href="">结伴同游(<em>0</em>)</a></li>
                                        <li><a href="">评论(<em>0</em>)</a></li>
                                        <li><a href="">满意度(<em>100%</em>)</a></li>
                                        <li><a href="">咨询(<em>1</em>)</a></li>
                                    </ul>
                                </div>
                                <div class="pro-item-info">
                                	<table>
                                    	<tbody>
                                        	<tr>
                                            	<td class="pro-info-des">旅游团号：</td>
                                                <td><span class="pro-tuan-nub">BJ223-1770</span></td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出发城市：</td>
                                                <td>北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">结束城市：</td>
                                                <td>上海, 北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出团时间：</td>
                                                <td>2012年7月25日 - 2012年7月30日 : 每日</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">行程特色：</td>
                                                <td>一周特色英语培训，和美国师生互动交流，寄宿美国家庭。白宫，国会大厦，自由女神像，华尔街，迪斯尼乐园，环球影城，看不一样的风景；美... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pro-item-booking">
                                        <p><em>$5477</em>起</p>
                                        <a href="" class="booking-btn">预订行程</a>
                                        <span class="product-integral">赠5,477<a href="">积分</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<h4 class="pro-list-itemtit"><a href="">美国西海岸洛杉矶营地1+1周英语探索游-B</a></h4>
                            <div class="pro-item-cont">
                            	<div class="pro-item-pic">
                                	<div class="product-pic">
                                    	<a href=""><img src="_product/product-list-pic.jpg" /></a>
                                    </div>
                                    <ul class="product-comments">
                                    	<li><a href="">结伴同游(<em>0</em>)</a></li>
                                        <li><a href="">评论(<em>0</em>)</a></li>
                                        <li><a href="">满意度(<em>100%</em>)</a></li>
                                        <li><a href="">咨询(<em>1</em>)</a></li>
                                    </ul>
                                </div>
                                <div class="pro-item-info">
                                	<table>
                                    	<tbody>
                                        	<tr>
                                            	<td class="pro-info-des">旅游团号：</td>
                                                <td><span class="pro-tuan-nub">BJ223-1770</span></td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出发城市：</td>
                                                <td>北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">结束城市：</td>
                                                <td>上海, 北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出团时间：</td>
                                                <td>2012年7月25日 - 2012年7月30日 : 每日</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">行程特色：</td>
                                                <td>一周特色英语培训，和美国师生互动交流，寄宿美国家庭。白宫，国会大厦，自由女神像，华尔街，迪斯尼乐园，环球影城，看不一样的风景；美... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pro-item-booking">
                                        <p><em>$5477</em>起</p>
                                        <a href="" class="booking-btn">预订行程</a>
                                        <span class="product-integral">赠5,477<a href="">积分</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="even">
                        	<h4 class="pro-list-itemtit"><a href="">美国西海岸洛杉矶营地1+1周英语探索游-B</a></h4>
                            <div class="pro-item-cont">
                            	<div class="pro-item-pic">
                                	<div class="product-pic">
                                    	<a href=""><img src="_product/product-list-pic.jpg" /></a>
                                    </div>
                                    <ul class="product-comments">
                                    	<li><a href="">结伴同游(<em>0</em>)</a></li>
                                        <li><a href="">评论(<em>0</em>)</a></li>
                                        <li><a href="">满意度(<em>100%</em>)</a></li>
                                        <li><a href="">咨询(<em>1</em>)</a></li>
                                    </ul>
                                </div>
                                <div class="pro-item-info">
                                	<table>
                                    	<tbody>
                                        	<tr>
                                            	<td class="pro-info-des">旅游团号：</td>
                                                <td><span class="pro-tuan-nub">BJ223-1770</span></td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出发城市：</td>
                                                <td>北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">结束城市：</td>
                                                <td>上海, 北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出团时间：</td>
                                                <td>2012年7月25日 - 2012年7月30日 : 每日</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">行程特色：</td>
                                                <td>一周特色英语培训，和美国师生互动交流，寄宿美国家庭。白宫，国会大厦，自由女神像，华尔街，迪斯尼乐园，环球影城，看不一样的风景；美... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pro-item-booking">
                                        <p><em>$5477</em>起</p>
                                        <a href="" class="booking-btn">预订行程</a>
                                        <span class="product-integral">赠5,477<a href="">积分</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<h4 class="pro-list-itemtit"><a href="">美国西海岸洛杉矶营地1+1周英语探索游-B</a></h4>
                            <div class="pro-item-cont">
                            	<div class="pro-item-pic">
                                	<div class="product-pic">
                                    	<a href=""><img src="_product/product-list-pic.jpg" /></a>
                                    </div>
                                    <ul class="product-comments">
                                    	<li><a href="">结伴同游(<em>0</em>)</a></li>
                                        <li><a href="">评论(<em>0</em>)</a></li>
                                        <li><a href="">满意度(<em>100%</em>)</a></li>
                                        <li><a href="">咨询(<em>1</em>)</a></li>
                                    </ul>
                                </div>
                                <div class="pro-item-info">
                                	<table>
                                    	<tbody>
                                        	<tr>
                                            	<td class="pro-info-des">旅游团号：</td>
                                                <td><span class="pro-tuan-nub">BJ223-1770</span></td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出发城市：</td>
                                                <td>北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">结束城市：</td>
                                                <td>上海, 北京</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">出团时间：</td>
                                                <td>2012年7月25日 - 2012年7月30日 : 每日</td>
                                            </tr>
                                            <tr>
                                            	<td class="pro-info-des">行程特色：</td>
                                                <td>一周特色英语培训，和美国师生互动交流，寄宿美国家庭。白宫，国会大厦，自由女神像，华尔街，迪斯尼乐园，环球影城，看不一样的风景；美... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pro-item-booking">
                                        <p><em>$5477</em>起</p>
                                        <a href="" class="booking-btn">预订行程</a>
                                        <span class="product-integral">赠5,477<a href="">积分</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pro-list-pager pager-bottom">
                    <ul>
                    	<li class="current"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">下一页</a></li>
                        <li><a href="">末页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fl pside">
        	<div class="usdest">
            	<div class="usdestSearch">
                <div class="usdestSearchead">
                    <h3>旅游度假</h3>
                </div>
                <table class="usdestSearchTable">
                    <tbody>
                    <form method="" action=""></form>
                        <tr>
                            <td class="labeltd"><label for="startPlace">出发地：</label></td>
                            <td class="rel"><input type="text" placeholder="输入出发地点" class="destext" id="startPlace"></td>
                        </tr>
                        <tr>
                            <td class="labeltd"><label for="endPlace">目的地：</label></td>
                            <td class="rel"><input type="text" placeholder="输入出目的地地点" class="destext" id="endPlace"></td>
                        </tr>
                        <tr>
                            <td class="labeltd"><label for="destDays">天&nbsp;&nbsp;&nbsp;数：</label></td>
                            <td>
                                <select id="destDays">
                                    <option value="default">选择持续天数</option>
                                    <option value="one">1天</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="labeltd"><label for="destKwd">关键字：</label></td>
                            <td class="rel"><input type="text" placeholder="输入酒店部分或全部名称" class="destext" id="destKwd"></td>
                        </tr>
                        <tr>
                            <td class="labeltd">&nbsp;</td>
                            <td>
                                <input type="submit" value="搜索" class="fl destsbtn oh">
                                <div class="desthelp">
                                    <a href="">帮助</a>
                                    <div class="desthelpTips hide">
                                        <i class="tiprole destips_role"></i>
                                        <div class="desthelpCnt">
                                            <p>1.在出发地中选好出发城市,可再选目的地,可以准确的找到你想要的线路.</p>
                                            <p>2.也可只选出发城市,搜索出来的是以该城市出发的所有线路.</p>
                                            <p>3.也可只选目的地,搜索出来的是到达和途径此目的地的所有线路.同时在搜索结果里还可以按出发城市/时间等筛选.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    
                    <tr>
                        <td colspan="2">
                            <dl class="destlist">
                                <dt>推荐：</dt>
                                <dd>
                                    <a href="#">纽约</a>
                                    <a href="#">洛杉矶</a>
                                    <a href="#">旧金山</a>
                                    <a href="#">黄石公园</a>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="adbox">
            	<a href=""><img src="_product/pside1.jpg" width="264" /></a>
            </div>
            <div class="adbox">
            	<a href=""><img src="_product/pside2.jpg" width="264" /></a>
            </div>
            <div class="hmod">
                <div class="hmhd">
                    <ul class="fr hmixbtn">
                        <li><a href="">帮助</a></li>
                        <li><a href="">我要发布</a></li>
                    </ul>
                    <h3 class="hmtit">结伴同游</h3>
                </div>
                <ul class="hcomplist">
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿拼房，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房，共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人共享优惠.</a></li>
                    <li><span>7月4日</span><a href="#">[华盛顿]寻3人拼房.</a></li>
                </ul>
            </div>
            <div class="hmod">
                <div class="hmhd">
                    <h3 class="hmtit">我们的优势</h3>
                </div>
                <ul class="superilist">
                    <li class="col1"><em>专注服务：</em>专注美国加拿大旅游服务，您的信赖之选</li>
                    <li class="col2"><em>丰富产品：</em>数千条美加线路更多旅游服务</li>
                    <li class="col3"><em>品质为先：</em>商品质服务，华人首选值得信赖</li>
                    <li class="col4"><em>呼叫中心：</em>随时咨询、随时查询，24小时全程顾问</li>
                    <li class="col5"><em>高品质服务团队：</em>Better Business Bureau A+的顶级信誉</li>
                </ul>
            </div>
            <div class="hmod">
                <div class="hmhd">
                    <span class="hotonline"><em>7*24</em>小时在线</span>
                    <h3 class="hmtit">联系方式</h3>
                </div>
                <ul class="contactMod">
                    <li class="col1">美加免费：<span class="hcblue">1-888-887-2816</span></li>
                    <li class="col2">国际热线：<span class="hcblue">225-754-4328</span></li>
                    <li class="col3">中国免费：<span class="hcblue">4006-333-926</span></li>
                    <li class="col4">台湾：<span class="hcblue">(02)40502999</span>转<span class="hcblue">8991020868</span></li>
                    <li class="col5">电子邮箱：<span class="hcblue">service@usitrip.com</span></li>
                </ul>
                <a href="#" class="advLink">
                    <h4>出境旅游顾问</h4>
                    <p>7*24小时在线咨询</p>
                </a>
            </div>
            <div class="hmod">
            	<div class="hmhd">
                	<h3 class="hmtit">美东旅游</h3>
                </div>
                <div class="p15 pblue">
                	<p>USITRIP走四方旅游网作为最知名美国华人旅行社,竭诚为您量身定制去美东旅游线路行程,美东旅游景点攻略,美东旅行团自由行,更提供中文签证及美东结伴同游,游学移民,酒店预订,打折机票等旅游服务.最低价格保障,最高商誉评级!尽在---走四方旅游网! </p>
                </div>
            </div>
            <div class="adbox">
            	<a href=""><img src="_product/pside1.jpg" width="264" /></a>
            </div>
        </div>
    </div>
    <div id="foot">
        <div class="uiWrap uifix">
            <div class="partners">
                <h3>合作伙伴</h3>
                <dl>
                    <dt>特价机票</dt>
                    <dd><a href="#">留学生机票 CheapOair</a></dd>
                    <dd><a href="#">全球特价机票 Priceline</a></dd>
                </dl>
                <dl>
                    <dt>低价酒店</dt>
                    <dd><a href="#">世界领先酒店合作伙伴Booking</a></dd>
                    <dd><a href="#">美国低价酒店预订 Hotels</a></dd>
                </dl>
                <dl>
                    <dt>保险&amp;租车</dt>
                    <dd><a href="#">美国专业保险提供商Travelinsure</a></dd>
                    <dd><a href="#">全球最大租车平台rentalcars.com</a></dd>
                </dl>
            </div>
            <div class="site_help">
                <ul class="site_helplist">
                    <li>
                        <div class="site_helpitems">
                            <h4 class="title">新手入门</h4>
                            <ul class="getstart">
                                <li><a class="highlight" href="#">订购流程</a></li>
                                <li><a href="#">常见问题</a></li>
                                <li><a href="#">支付方式</a></li>
                                <li><a href="#">订购协议</a></li>
                                <li><a href="#">签证相关</a></li>
                                <li><a href="#">结伴同游流程</a></li>
                                <li class="nowidth"><a class="highlight" href="#">积分豪礼(最高优惠100%)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="site_helpitems">
                            <h4 class="title">旅美须知</h4>
                            <ul class="getnotes">
                                <li><a href="#">旅游证件</a><a href="#">边检</a><a href="#">时差</a><a href="#">电压</a></li>
                                <li><a href="#">消费状况</a><a href="#">电话</a><a href="#">气候</a><a href="#">治安</a></li>
                                <li><a href="#">美国节日</a><a href="#">宗教</a><a href="#">文化</a><a href="#">治安</a></li>
                                <li><a href="#">注意事项</a><a href="#">住宿</a><a href="#">交通</a><a href="#">购物</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="site_helpitems">
                            <h4 class="title">会员积分</h4>
                            <ul>
                                <li><a href="#">什么是积分，有什么用？</a></li>
                                <li><a href="#">获得积分的途径有哪些？</a></li>
                                <li><a href="#">积分的现金兑换标准是多少？</a></li>
                                <li><a class="highlight" href="#">积分享受的消费折扣限额是？</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="last">
                        <div class="site_helpitems">
                            <h4 class="title">签证相关</h4>
                            <ul class="">
                                <li><a class="highlight" href="#">去美国旅游，如何拿到签证？</a></li>
                                <li><a href="#">加拿大签证怎么办理？</a></li>
                                <li><a href="#">签证官一般会问哪些问题？</a></li>
                                <li><a href="#">什么是签证培训？有何帮助？</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="imagelink uifix">
                <li><a class="link1" href="#">BBB</a></li>
                <li><a class="link2" href="#">rackspace</a></li>
                <li><a class="link3" href="#">在线投保</a></li>
                <li><a class="link4" href="#">paypal</a></li>
                <li><a class="link5" href="#">在线支付</a></li>
                <li><a class="link6" href="#">支付宝支付</a></li>
                <li><a class="link7" href="#">腾讯微博</a></li>
                <li><a class="link8" href="#">新浪微博</a></li>
            </ul>
            <dl class="hotlinks uifix">
                <dt>出发城市：</dt>
                <dd><a href="#">洛杉矶旅游</a><a href="#">旧金山旅游</a><a href="#">拉斯维加斯旅游</a><a href="#">纽约旅游</a><a href="#">华盛顿旅游</a><a href="#">波士顿旅游</a><a href="#">温哥华旅游</a></dd>
            </dl>
            <dl class="hotlinks uifix">
                <dt>出发城市：</dt>
                <dd><a href="#">黄石公园旅游</a><a href="#">大峡谷旅游</a><a href="#">优胜美地旅游</a><a href="#">主题公园旅游</a><a href="#">尼亚加拉瀑布旅游</a><a href="#">落基山旅游</a><a href="#">夏威夷旅游</a></dd>
            </dl>
            <dl class="friendlinks uifix">
                <dt>友情链接：</dt>
                <dd>
                    <a href="#">黄山旅游攻略</a>
                    <a href="#">深圳旅游攻略</a>
                    <a href="#">深圳旅游网</a>
                    <a href="#">昆明旅游网</a>
                    <a href="#">海南旅游</a>
                    <a href="#">广州机票</a>
                    <a href="#">九寨沟旅游</a>
                    <a href="#">红栌山庄</a>
                    <a href="#">桂林旅游攻略</a>
                    <a href="#">新疆旅游景点</a>
                    <a href="#">凤凰古城</a>
                    <a href="#">南京旅游</a>
                    <a href="#">成都旅游网</a>
                    <a href="#">旅游营销</a>
                    <a href="#">长春旅行社</a>
                    <a href="#">长岛旅游</a>
                    <a href="#">酒店预订</a>
                    <a href="#">汉庭酒店官网</a>
                    <a href="#">湖南旅游网</a>
                    <a href="#">深圳康辉相册</a>
                    <a href="#">北戴河旅游网</a>
                    <a href="#">美国旅游网</a>
                    <a href="#">哈尔滨滑雪场</a>
                    <a href="#">武隆自助游</a>
                    <a href="#">深圳康辉旅行社</a>
                    <a href="#">西安天马旅行社</a>
                    <a class="highlight" href="#">更多&gt;&gt;</a>
                </dd>
            </dl>
            <div class="copyright">
                <ul>
                    <li><a href="#">网站首页</a>-</li>
                    <li><a href="#">关于走四方</a>-</li>
                    <li><a href="#">联系我们</a>-</li>
                    <li><a href="#">隐私&amp;版权声明</a>-</li>
                    <li><a href="#">友情链接</a>-</li>
                    <li><a href="#">帮助中心</a>-</li>
                    <li><a href="#">网站地图</a>-</li>
                    <li><a href="#">网站联盟</a></li>
                </ul>
                <p>营业执照 | Copyright&copy;2008-2012 usitrip.com | 走四方旅游网 All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>