<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>usitrip - [游学名校亲子9日游]遍历名校文化之旅|买二送二**畅游九大名城,五大名校**</title>
<base href="http://www.usitrip.com/">
<link rel="stylesheet" type="text/css" href="css/print.css">
<style type="text/css">
.xlin dl dt{text-align:center;}
.day{font-weight:bold;}
img{border:0;}
</style>
</head>
<body marginwidth="10" marginheight="10" topmargin="10" bottommargin="10" leftmargin="10" rightmargin="10">
<script type="text/javascript">
function my_print(){
	var html = document.getElementById('lwk_print').innerHTML;
	document.body.innerHTML = html;
	window.print();
}
if (window.print) {
	document.write('<table align="center" width="715" border="0" cellspacing="0" cellpadding="5">');
    document.write('<tr>');
    document.write('<td valign="top" align="left" class="main">');
    document.write('<a href="javascript:;" onClick="javascript:my_print()" onMouseOut=document.imprim.src="http://120.136.45.200:88/images/printimage.gif" onMouseOver=document.imprim.src="http://120.136.45.200:88/images/printimage_over.gif"><img src="http://120.136.45.200:88/images/printimage.gif" width="43" height="28" align="absbottom" border="0" name="imprim">' + '打印</a></center>');
    document.write('</td>');
    document.write('<td align="right" valign="bottom" class="main"><p align="right" class="main"><a href="javascript:window.close();"><img src="http://120.136.45.200:88/images/close_window.jpg" border=0></a></p></td>');
    document.write('</tr>');
    document.write('</table>');
}
</script>

<div id="lwk_print">

<table cellpadding="0" cellspacing="0" border="0" width="715" align="center">
	<tbody>
    	<tr>
        	<td style="border-bottom:3px solid #000099;padding-bottom:7px;"><img src="/image/logo24.png" width="190" height="67" /></td>
            <td style="border-bottom:3px solid #000099;padding-bottom:7px;text-align:right;">
            	<div style="margin:0;padding:0;text-align:right;">
                	<img src="/image/plus.png" width="40" height="40" style="float:right;margin-left:5px;margin-top:8px;" />
                	<p style="display:inline;margin:0;color:#000099;line-height:28px;font-family:'Microsoft Yahei';font-size:14px;font-weight:bold;">全球华人首选出国旅游网站<br />美国BBB认证最高商誉评级</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="715" align="center" style="border:1px solid #548DD4;margin-top:10px;font-size:12px;color:#333333;">
	<thead>
    	<tr style="background:#4F81BD;line-height:24px;">
        	<th colspan="6" style="text-align:left;text-indent:5px;color:#ffffff;font-size:14px;" bgcolor="#4F81BD">行程基本信息</th>
        </tr>
    </thead>
    <tbody>
    	<tr style="line-height:26px;">
        	<td colspan="2" style="border-top:1px solid #548DD4;text-indent:10px;font-size:14px;font-weight:bold;">[游学名校亲子9日游]遍历名校文化之旅|买二送二</td>
        </tr>
        <tr style="line-height:26px;">
        	<td colspan="2" style="border-top:1px solid #548DD4;text-indent:10px;">畅游九大名城,五大名校&nbsp;</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;">行程价格：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">377.00起</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;">旅游团号：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">NY201-352</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;">出 发 地：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">纽约</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;">结 束 地：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">纽约</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;">出团时间：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">2014年1月1日 - 2016年3月31日 : 周二/周五</td>
        </tr>
        <tr style="line-height:26px;">
        	<td width="85" style="border-top:1px solid #548DD4;text-align:right;font-weight:bold;vertical-align:top;">行程特色：</td>
            <td style="border-top:1px solid #548DD4;text-align:left;padding-left:20px;">纽约三大国际机场接送机；参观5所名校：哈佛，耶鲁，麻省理工，西点军校，普林斯顿。游览名城：纽约，费城，华盛顿，波士顿，巴尔的摩，普林斯顿， 好时巧克力世界，康宁中心，西点军校，新港，尼亚加拉，水牛城。还可去名牌直销购物中心购物。住两晚纽约，两晚DC，旅程更丰富，轻松。</td>
        </tr>     
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="715" align="center" style="border:1px solid #548DD4;margin-top:10px;font-size:12px;color:#333333;">
	<thead>
    	<tr style="background:#4F81BD;line-height:24px;">
        	<th colspan="6" style="text-align:left;text-indent:5px;color:#ffffff;font-size:14px;border-top:1px solid #548DD4;">行程内容</th>
        </tr>
    </thead>
    <tbody>
    	<tr style="line-height:26px;">
        	<td style="border-top:1px solid #548DD4;padding:5px;">
        				  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第1天 家园(Home)-纽约机场(New York)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_1_1340819403_us_ny_dgds.jpg" alt="http://www.usitrip.com/images/picture/detail_1_1340819403_us_ny_dgds.jpg" title="http://www.usitrip.com/images/picture/detail_1_1340819403_us_ny_dgds.jpg" onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">由原居地飞往纽约市，导游会身穿黄色上衣在纽约三大机场(EWR. JFK. LGA)的国际航班出口处，或国内航班行李提取处（baggage claim），手举标有走四方logo及贵宾姓名的牌子迎接您的到来，豪华空调巴士免费接机时间段9:00am-10:00pm，接机后送往法拉盛自由活动（仅限下午五点前飞抵LGA和JFK的贵宾），或者往酒店休息。飞抵EWR机场的贵宾，如果您的航班到达时间较早，需要在酒店大堂有一定的等候房间时间（下午3:00PM以 后，酒店办理check in），敬请见谅。<br />
<br><br />
<b>若您提前到达机场，请在以下地点与导游汇合：</b><br />
JFK机场：7号航站楼内的 <a class="xm_img_title" href="javascript:;">Hudson news<span class="xm_img_arr"></span><img src="http://www.usitrip.com/images/picture/detail_7_1382347855_us_ny_ny.jpg" alt="" /></a> 处；<br />
LGA机场：<a class="xm_img_title" href="javascript:;">Terminal B<span class="xm_img_arr"></span><img src="http://www.usitrip.com/images/picture/detail_7_1383604984_us_ny_ny.jpg" alt="" /></a>(也叫作central terminal) ,AA 航空公司的行李提取处；<br />
EWR机场：<a class="xm_img_title" href="javascript:;">Terminal C, WELCOME CENTER。<span class="xm_img_arr"></span><img src="http://www.usitrip.com/images/picture/detail_3_1383604948_us_ny_ny.jpg" alt="" /></a><br />
<br />
<b>若您不需要接机服务，可选择以下方式参团：</b><br />
1.您可以在参团日当天下午5:00pm以前，自行前往以下地点与导游汇合:<br />
（1）曼哈顿中国城 (Chinatown)<br />
（2）法拉盛办事处，地址：133-31 39th Ave Flushing, NY 11354（best western酒店旁, “亿客来名品专卖”皇后店内集合)<br />
若时间充裕，您可以将行李暂存此地址，自行安排游览，请务必于当日下午5:00pm以前回到集合点，一起跟车回行程酒店或是参加夜游。<br />
2.您也可以选择自行入住酒店，行程第一天的酒店一般会安排在EWR机场附近，具体名称和地址在出发前一天提供。【请您在下订单时备注或者电话通知我们您的选择】<br />
<br />
<b>为了保证您得到最好的行程安排和服务，赠送以下独家特色：</b><br />
<b>独家特色1：</b>独家按人次接机，不限房间及订单，实现按照每位游客提供的航班信息提供免费接机（免费接机时间段内）。若同一订单的游客不同航班抵达，请及时提供各自的航班信息以便安排接机服务。<br />
<b>独家特色2：</b> 8:30am- 5:00pm 飞抵JFK和LGA的游客, 免费加赠半天特色市区游。体验纽约华人的生活, 游览有小台北之称的法拉盛唐人街。您可以购买超值的水果,花旗参,美国果仁特产,保健品, Zippo打火机,名牌香水, 化妆品, 手錶, 饰品等还有名牌折扣商场,电子产品大卖场, Macy, Best Buy等等的百货广场,您亦可以游览韩国城,体验不同文化。另外, 您可以在美食街享受各国地道的特色美食。让您在异国他乡体验不一样的中国风。<br />
EWR离酒店较近, 接机后即回酒店休息, 没有特色游,可以自费（＄10/人）到Jersey Gardens Outlet Mall购物。<br />
<b>独家特色3：</b>参团日期是逢周二、三、四、五、六、日的游客且航班于下午5:00PM前到达，可参加纽约市区夜游，欣赏美国最大城巿的迷人夜景( 费用自理$25/人，当日向导游报名并支付现金)。<br />
<b>特别注意事项：</b><br />
1. 由于免费机场接应服务数量大，人次多，所以地接社可能会将前后到达时间相近的贵宾一并接应，您可能会有一些等候时间，敬请理解和支持。<br />
2. 如果当天航班临时晚点， 请立即致电告知我们，我们会尽量安排航班改变之后的机场接应，但如遇当天机场接应数量太大，我们则保留请您自行入住酒店的权利。<br />
<br />
<b>纽约夜游行程：</b><br />
参观时代广场，感受纽约夜晚的繁荣，最后停留在纽约对岸的哈德逊河边公园，欣赏浪漫迷人纽约市全景。（费用：$25.00/人)。					<span>酒店: Sheraton/Radisson 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第2天 纽约市观光(New York)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_3_1340819119_us_ny_.jpg  " alt="http://www.usitrip.com/images/picture/detail_3_1340819119_us_ny_.jpg  " title="http://www.usitrip.com/images/picture/detail_3_1340819119_us_ny_.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">上到纽约市地标-帝国大厦嘹望观景臺，欣赏中央公园和纽约全景。乘坐观光环岛游轮游览哈德逊河，与自由女神像和布鲁克林桥摄影留念。登上花费1.2亿美元重新整修开放的国家历史文物-大无畏号航空母舰，并参观协和号超音速客机和各种战机。漫步世界金融、证券交易中心华尔街，三一教堂，象征牛市的铜牛雕塑和纽约股票交易&#8203;&#8203;所留影。参观大都会博物馆，时代广场，杜莎夫人蜡像馆与总统奥巴马等名人合影。途径第五大道，洛克菲勒中心，联合国总部，世贸遗址和建设中的新世贸-自由之塔等。<br />
<br />
<br />
<strong>温馨提示：</strong><br />
1、本团不接受参加纽约市区游的旅客携带CITY PASS。<br />
2、如果游客自行携带CITY PASS，本社将不负责在纽约当日的接送服务，请您自行安排当日一日游的交通。<br />
					<span>酒店: Sheraton/Radisson 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第3天 普林斯顿大学（Princeton University） -费城(Philadelphia)－巴尔地摩（Baltimore）--华盛顿(Washington)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_3_1340819638_us_pa_phl.jpg  " alt="http://www.usitrip.com/images/picture/detail_3_1340819638_us_pa_phl.jpg  " title="http://www.usitrip.com/images/picture/detail_3_1340819638_us_pa_phl.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">早上驱车前往新泽西州的普林斯顿，参观与哈佛齐名的普林斯顿大学。随后前往美国诞生地-费城参观宣读独立宣言的临时国都。独立宫、自由锺、旧国会大厦、国家独立公园均将呈现在您的眼前。前往巴尔地摩，漫步于明珠海港、与古战舰合影，晚餐后，回酒店休息。					<span>酒店: Sheraton/Hilton 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第4天 华盛顿一日游(Washington)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_4_1340780364_us_dc_dc.jpg    " alt="http://www.usitrip.com/images/picture/detail_4_1340780364_us_dc_dc.jpg    " title="http://www.usitrip.com/images/picture/detail_4_1340780364_us_dc_dc.jpg    " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">早上参观宏伟壮观的国会山庄（如果领到门票即可入内参观）。随后前往杰佛逊纪念堂、华盛顿纪念碑、林肯纪念堂、越战纪念碑、韩战纪念广场，总统官邸-白宫、并乘坐豪华观光游轮沿著波多马克河和太斗湖饱览首都美景，从不同角度欣赏华盛顿首都。在航天航空博物馆午餐后，游客可以按照自己的兴趣步行到附近的史密斯国家博物馆群自由免费参观，包括自然历史博物馆及航天航空博物馆，印第安人博物馆，雕像馆，美国历史博物馆，非洲博物馆，植物馆等。傍晚，导游会在航天航空博物馆接团友去晚餐，然后回酒店休息。					<span>酒店: Sheraton/Hilton  或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第5天 华盛顿(Washington)-康宁玻璃中心(Corning Glass Center)-尼加拉瀑布(Nigara Falls)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_4_1340818859_us_ny_ug.jpg  " alt="http://www.usitrip.com/images/picture/detail_4_1340818859_us_ny_ug.jpg  " title="http://www.usitrip.com/images/picture/detail_4_1340818859_us_ny_ug.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">前往世界500强企业的总部-康宁玻璃中心，参观全球最大的玻璃收藏博物馆，欣赏现场製作玻璃表演技术。午餐后，参观尼加拉瓜大瀑布，游览瀑布国家公园，眺望「美国瀑布」，「马蹄瀑布」及「新娘面纱瀑布」。水势一泻千里，雷霆万钧，亲身体验那份磅礡的气势，尤如万马奔腾。搭乘著名的"雾中少女"号游船（冬季关闭）穿梭于波涛起伏的瀑布间，水花迎面扑来，刺激紧张，更添加一份震撼力。回到访客中心观看Imax电影，投资1千五百万的电影向您描述了尼加拉瀑布多姿多彩的传奇故事。结束后。A.继续在尼加拉瓜市，瀑布公园和瀑布赌场自由活动，等待夜景来临。B.自费深度游（$25/人）,参观水力发电站，瀑布古堡（费用已含$13古堡门票），安大略湖，远观多伦多，夜景结束后，返回酒店休息。（受日落时间及交通规定的约束，观赏夜景的完整性在某些夏夜会受到限制。）					<span>酒店: Adam's Mark/Holiday Inn  或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第6天 尼加拉瀑布(Nigara Falls)－波士顿(Boston)</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_3_1340818822_us_ny_n.jpg  " alt="http://www.usitrip.com/images/picture/detail_3_1340818822_us_ny_n.jpg  " title="http://www.usitrip.com/images/picture/detail_3_1340818822_us_ny_n.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">离开酒店，沿著伊利运河的方向，横跨纽约上州，感受到美国的辽阔，下午到达麻省剑桥市，参观哈佛大学最古老的校园区，与闻名世界的谎言雕像－哈佛雕像合影。留影於麻省理工学院主教学楼。波士顿市区观光，停留在古老的三一大教堂和汉考克摩天大楼前的广场拍照留念，途径波士顿公园、天鹅湖公园、普天寿大楼，波士顿图书馆，金色圆顶的州议会大楼。晚上享受极富盛名的新鲜龙虾大餐。<br />
					<span>酒店: Sheraton/Crowne Plaza 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第7天 波士顿市区游(Boston)－罗德岛（Rhode Island）－移民石Plymouth Rock）－波士顿（Boston）</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_1_1340818643_us_ma_.jpg  " alt="http://www.usitrip.com/images/picture/detail_1_1340818643_us_ma_.jpg  " title="http://www.usitrip.com/images/picture/detail_1_1340818643_us_ma_.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">早上，乘坐波士顿海港游船，尽情游览波士顿港湾。漫步于古老的昆西市场，感受波士顿古老的文化遗产，还可以选购各种商品和纪念品。几十家餐厅供午餐选择，品尝各种地道美食，在导游的介绍下，当然不能够错过著名的波士顿蛤蜊汤。下午直达麻省著名鳕鱼湾，普里茅斯参观早期移民村落，观赏Plymouth Rock(移民石)。罗德岛新港市，参观亿万富豪度假别墅-听涛山庄。<br />
<br />
<br />
					<span>酒店: Sheraton/Crowne Plaza 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第8天 波士顿（Boston）－耶鲁大学（Yale University）－第五大道购物（5th Ave Shopping ）</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_1_1340780281_us_ct_.jpg  " alt="http://www.usitrip.com/images/picture/detail_1_1340780281_us_ct_.jpg  " title="http://www.usitrip.com/images/picture/detail_1_1340780281_us_ct_.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">早上，深度参观耶鲁大学，充满怀旧情怀的哥德式教学楼，学生的宿舍和日常生活区，举世闻名的耶鲁图书馆。 （如因耶鲁大学关门，导游只能安排参观耶鲁校园公开区域）。途径纽约机场，下午来到女人的天堂，男人的地狱-第五大道。特别停留在处理换季货品和样品的批发商场，用打折超过70%的价格买到一样的品牌商品，比奥特莱斯更便宜，手袋，衣服，鞋子，饰品等应有尽有，真正是买得多，省的多，包括顶级品牌和中上品牌：Apple，Cartier，Channel, Dior，Gucci ，Hermes，LV，Omega，Rolex，Swarovski，Tiffany & Co，Ugg，Victoria's Secret等等，还参观第5大道最大名表商店，体验极度奢华的购物感觉，欣赏超过14万美元一块全手工製作，英国女王戴过的錶款。不购物的话，可以漫步游览中央公园和豪宅区。 （当晚可以欣赏7:00PM后开场的百老汇舞台剧，交通和门票自费，导游可以帮忙预订）。					<span>酒店: Crowne Plaza/Courtyard 或者同等级酒店</span></p>
								  		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第9天 西点军校（West Point）- 名牌购物中心（Woodbury）- 家园（Home）</p>
											<p style="margin:0;padding:0;text-align:center"><img src="http://www.usitrip.com/images/picture/detail_1_1340819585_us_ny_wdbl.jpg  " alt="http://www.usitrip.com/images/picture/detail_1_1340819585_us_ny_wdbl.jpg  " title="http://www.usitrip.com/images/picture/detail_1_1340819585_us_ny_wdbl.jpg  " onload="if(this.width > 200){this.width=200}"/></p>
										<p style="margin:0;padding:0;">早上前往Woodbury Common Premium Outlets－全美最大、最新原厂直销的奥特莱斯名牌购物商场，共有200 多间商店，有Tod’s、Gucci、Fendi、Burberry Gap Outlet, Giorgio Armani, Gucci, J.Crew, Channel, Jimmy Choo, Lacoste, Neiman Marcus Last Call, Polo Ralph Lauren, Prada等，打折超过50％以上。‘美国将军的摇篮’- 西点军校，兵家必争之地,颇有“一夫当关，万夫莫开”之势。美军名将如格兰特、罗伯特&#8226;李、艾森豪威尔、巴顿、麦克阿瑟、布莱德利等均是该校的毕业生。（购物时间约4小时，下午2:30pm左右结束。如果您选择游览西点军校后购物，在Woodbury停留时间约2小时左右。）返程回纽约送机。<br />
<br />
<strong>温馨提示</strong>：如前往西点军校，请随身携带个人护照或是美国有效证件。<br />
<br />
<strong>温馨提示：</strong>纽约离团者，请订纽约三大机场（JFK, LGA, EWR）7:00pm后的航班，（建议预订从纽瓦克机场EWR起飞的航班）。<br />
<br />
“雾中少女”号，4月-10月24号对外开放（视河面冰冻情况而定） 11月- 3月停止开放（可选择参观尼亚加拉古要塞） <br />
*游览时间、顺序可能做出调整，以便您能玩的尽兴。					<span>酒店:  或者同等级酒店</span></p>
					            	<!--<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第一天 原居地(Hometown) - 旧金山(San rancisco)</p>
                <p style="margin:0;padding:0;text-align:center"><img src="test.jpg" width="360" height="270" /></p>
                <p style="margin:0;padding:0;">您愉快的旅程将从您降落于旧金山机场那刻开始。热情的导游将在行李认领处等候您的到来。导游会把您带往下榻的酒店，
您可以自行安排?下的时间。 酒店：Marriott Courtyard Hotel 或同级酒店。</p>
            	<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>第二天 原居地(Hometown) - 旧金山(San rancisco)</p>
                <p style="margin:0;padding:0;text-align:center"><img src="test.jpg" width="360" height="270" /></p>
                <p style="margin:0;padding:0;">您愉快的旅程将从您降落于旧金山机场那刻开始。热情的导游将在行李认领处等候您的到来。导游会把您带往下榻的酒店，
您可以自行安排?下的时间。 酒店：Marriott Courtyard Hotel 或同级酒店。</p>-->
            </td>
        </tr> 
    </tbody>
</table>
<table width="715" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #548DD4;margin-top:10px;font-size:12px;color:#333333;border-right:0;">
<thead>
	<tr style="background:#4F81BD;line-height:24px;">
		<th colspan="5" style="text-align:left;text-indent:5px;color:#ffffff;font-size:14px;border-right:1px solid #548DD4;">价格明细</th>
	</tr>
	</thead>
	<tbody>
	<tr style="line-height:26px;">
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">双人一间</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">三人一间</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">四人一间</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">单人一间</td>
			</tr>
	<tr style="line-height:26px;">
			<td align="center"  style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">754.00</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">503.00</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">377.00</td>
				<td align="center" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;">1085.00</td>
			</tr>
	<tr style="line-height:26px;">
		<td colspan="5" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;padding:8px;">
		<p>*本行程提供“买二送二”优惠:<br/>  
　三人或四人同住一个房间时，享受”买二送二”优惠<br/>
　三人/房（总价）=四人/房（总价）=双人/房（总价）<br/>  
　以上所列价格为优惠后每个人需付的价格。 <br/> 
 *我们特别为享受优惠者提前预留座位，如果享受该优惠的订单中有人当天未参加该团，地接社将会以现金的方式，按照“$485/人”收取罚金。<br/>
 *单人/间价格是指一人单独享有一个酒店标准间的价格。<br/>
 *二人一房、三人一房、四人一房是指二人、三人或四人共同享用一个房间，每人所需支付的费用。<br/>
 *单人配房是指当一位客人入住一个房间时，如果想要与其他客人进行拼房，则我们可以安排与其他人拼房，共用一个房间。<br/>
 *房间以两张床为主，儿童、第三、第四人共用一个房间不另加床。若需加床，请向酒店服务台咨询，费用自付。<br/>
 *逢美国长周末或国定假日(如纪念日，独立日，劳工节等)，价格会有浮动，详见节日价格，敬请见谅。<br/></p>
		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>费用包括</p>
		<p><p>&#8226; 提供$500-$1000万商业车险。<br />&#8226; 8晚酒店住宿, 所有酒店提供标准间, 双人床；<br />
&#8226; 豪华空调巴士免费机场(EWR. JFK. LGA)接送(9:00am-10:00pm)；<br />
&#8226; 最具经验的专职双语导游和超过10年驾驶经验的车长；<br />
&#8226; 税金。<br /></p></p>
		<p style="margin:0;padding:0;font-weight:bold;font-size:14px;"><strong style="font-size:18px;">⊙</strong>费用不包括</p>
		<p><p>&#8226; 您往返出发地和机场的机票；<br />
&#8226; 各项游览门票；<br />
&#8226; 小费（建议每人每天支付导游和司机共$7.00）；<br />
&#8226; 所有个人费用（洗衣费、电话费等）和饮食；<br />
&#8226; 行程中的自费门票项目（仅供参考，若更改,恕不另行通知）： <br />
　纽约帝国大厦--成人：$27，儿童(11岁以下)：$21(7-11岁)免费(6岁以下)，老人(62岁以上)：$24<br/>
　杜莎夫人蜡像馆--成人：$25/人；儿童（11岁以下）：$23/人；老人（62岁以上）：$25/人<br />
　纽约大都会博物馆--成人：$25，儿童(11岁以下)：免费，老人(62岁以上)：$17<br/>
<strong>　注：</strong>大都会博物馆在周一，感恩节，12月25日和1月1日不对外开放。<br />
　自由女神环岛游船-- 成人:$29.00, 儿童（11岁以下）:$17, 老人(62岁以上): $24<br />
　纽约市夜游（当天跟导游报名） -- 成人：$25, 儿童：$20<br />
　大无畏号航空母舰-- 成人:$24 儿童:$12（3-6岁）$19（7-17岁），老人(62岁以上): $20<br />
　康宁玻璃中心--成人：$16，儿童(11岁以下)19岁以下免费，老人(62岁以上)：$15<br/>
　雾中少女号 -- 成人: $15.50儿童（11岁以下）: $9，老人(62岁以上): $15.5 (4月 至 10月)<br />
　尼加拉瀑布电影--成人：$12，儿童(11岁以下)：$8，老人(62岁以上)：$11<br/>
　尼加拉发电厂 -- 成人：$10 ,儿童：$10 ；<br />
　印第安人原住民真人歌舞表演(1小时)－－成人:$20, 儿童：$13<br />
　波士顿游船--成人：$22，儿童(11岁以下)：$17，老人(62岁以上)：$20<br/>
　波士顿龙虾餐--$28/人<br/>
　华盛顿海港游--成人：$23，儿童（11岁以下）$15,老人(62岁以上):$20<br />
　尼亚加拉古要塞--成人：$10，儿童（11岁以下）：$6,老人(62岁以上):$10<br />
　听涛山庄--成人：$19.50 ，儿童（11岁以下）$5.50，老人(62岁以上): $19.50<br />
　西点军校--成人:$13, 儿童;$9, 老人(62岁以上):$12<br />
　耶鲁大学深度游--成人：$11，儿童：$7，老人(62岁以上)：$11<br/>
　普林斯顿大学--成人：$10，儿童(11岁以下)：$6，老人(62岁以上)：$10<br/>
&#8226; 所有自选项目的价格仅供参考。您可以在团上直接向导游订购自费项目。本网站不接受任何自费项目的订购。<br />
&#8226; 逢美国长周末或国定假日(如纪念日，独立日，圣诞节等)，纽约大都会博物馆、西点军校等景点休息不开放。</p></p>
		</td>
	</tr>
	</tbody>
</table>


	<table width="715" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #548DD4;margin-top:10px;font-size:12px;color:#333333;border-right:0;">
<thead>
	<tr style="background:#4F81BD;line-height:24px;">
		<th colspan="5" style="text-align:left;text-indent:5px;color:#ffffff;font-size:14px;border-right:1px solid #548DD4;">注意事项</th>
	</tr>
	</thead>
	<tbody>
<tr style="line-height:26px;">
		<td colspan="5" style="border-top:1px solid #548DD4;border-right:1px solid #548DD4;padding:8px;">
			<p>1. 我们建议您在收到确认电子旅游票后再预订您的机票，在订购完机票后请回到本网站<a href="http://www.usitrip.com">www.usitrip.com</a> “我的账户”里面补填机票信息以便导游接机。<br />
2. 按出发日不同,行程次序可能前后稍作调整。<br />
3. 出发前请详细检查您的行李及确定旅行证件齐全。<br />
4. 妥善保管个人旅行证件、护照、机票、信用卡及现金，贵重物品请随身携带，切勿留置车内或委托他人看管。<br />
5. 尊重导游及每位团员权益，当导游介绍、解说时，请仔细聆听并保持安静，勿干扰人。<br />
6. 若出现飞机晚点或误点，请及时通知接机人员，但责任自负。<br />
7. 在极少数情况下，由设备及交通工具损坏、罢工、疾病、偷窃、走失、意外事故、天气或参团人数不够等原因造成的行程改变、延迟或取消，地接公司保留解释权。<br />
8. 请您72小时前, 自行做回程机位之确认, 祝您旅途愉快!<br />
9. 为了公平原则，旅途中巴士座位每日轮换，请与领队导游合作避免无谓的纷争。<br />
10. 团体需一起活动，途中若要离队需征得导游同意以免发生意外。 <br />
11. 夜间或自由活动时间若需自行外出，请告知导游或团友，并应特别注意安全。<br />
12. 药物：胃肠药、感冒药、晕车药、私人习惯性药物。 <br />
13. 新年、国庆日、劳动节或其他长周末假期, 团费会有适当的调整, 请在订团前先确认价钱。 <br />
14. 黄石公园、加拿大及尼加拉瀑布地区全年气温较低，请携带足够御寒衣物。<br />
15. 为了所有旅客的权益旅游团准点出发，请提前10 分钟到达上车地点，过期不侯，责任请自负。<br />
16. 强烈建议客人自行购买旅游保险，具体信息可参考：<a rel="nofollow" href="http://www.travelinsure.com/chinese/select/index.asp?32954">www.travelinsure.com</a><br />
&#160;</p>			
			<h2>订购流程</h2><p>1、预订成功后，您的注册邮箱中会收到由系统自动发送的预订成功的邮件；</p>
<p>2、本公司会在收到相应款项之日起1-4个工作日内将“行程确认信”或“参团凭证”发到您的邮箱,您也可以登录<a href="http://www.usitrip.com">http://www.usitrip.com</a>的“<a href="http://www.usitrip.com/account.php">用户中心</a>”查询您的订单状态。</p>
<p>3、请务必打印“参团凭证”，其上有参团重要信息及地接公司紧急联络电话等，在参团当日，请务必携带“参团凭证”及有效证件。</p><h2>订购条例</h2><p>1、在预订前, 您有责任阅读与旅游产品相关的所有信息，包括：价格与通知、路线介绍、团费包含内容，不包含内容、取消和退款政策、各项条款，以及特别提示等。一旦您阅读并充分理解其所有内容后，在购买后就不得有任何异议。</p>
<p>2、请在预订前仔细阅读<a href="order_agreement.php" target="_blank" class="sp3">订购协议</a>及<a href="change_plan.php"  target="_blank" class="sp3">变更、取消退款政策</a>。</p>
<p>3、为了确保您的安全及旅途愉快，当地旅行团供应商会保留对行程进行更改的权利。</p>
		</td>
	</tr>
	</tbody>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="715" align="center" style="font-size:14px;color:#333333;">
    <tbody>
    	<tr style="line-height:24px;">
        	<td style="padding:10px;">
            	<p style="margin:0;padding:0;">
                	------------<br /><span style="text-decoration:underline;font-weight:bold;">www.usitrip.com|走四方旅游网</span><br />                    Your trip , Our care!<br />                    您的旅行,我的关注!                </p>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="715" align="center">
	<tbody>
    	<tr style="line-height:24px;font-family:Tahoma;font-weight:bold;font-size:12px;color:#000099;">
        	<td style="border-top:3px solid #000099;text-align:left;">
            	<p style="margin:0;padding:0;">美加(热线):888-887-2816  FAX:(001) 225-757-1340<br />中国(热线):4006-333-926  FAX:(0086)0755-23036129</p>
            </td>
            <td style="border-top:3px solid #000099;text-align:right;">
            	<p style="margin:0;padding:0;">Unitedstars International Ltd<br />www.usitrip.com|走四方旅游网</p>
            </td>
        </tr>
    </tbody>
</table>


</div>


		  

</body>
</html>


{{* 行程页面模板 *}}
<div id="pageHead">
页头
本页示例网址：
[旧行程信息例子]
http://www.l-os-usitrip.com/product_printItinerary--products_id--2750.html
[新行程信息例子]
http://www.l-os-usitrip.com/product_printItinerary--products_id--1720.html

</div>
<div id="pageContent">
	<div id="Basics">
	<hr />行程基本信息<br />
	[{{$data.products_model}}] 
	{{$data.products_name}}
	</div>
	
	<div id="Itinerary">
	<hr />每天行程<br />
	{{if $data.travels  && $data.travels[0].travel_name}}
		{{* 新格式的行程信息 *}}
		新格式的行程信息新格式的行程信息新格式的行程信息新格式的行程信息
	{{else}}
		{{* 旧格式的行程信息 *}}
		{{$data.products_description}}
	{{/if}}
	</div>
	
	<div id="PriceDetails">
	<hr />价格明细
	</div>
	
	<div id="Precautions">
	<hr />注意事项<br />
	</div>
</div>

<div id="pageFoot">
页脚
</div>