<script type="text/javascript">
    jQuery(document).ready(
            function () {
                //".abouts_left",".abouts_right"
                var h1 = jQuery('.abouts_left').outerHeight();
                var h2 = jQuery('.abouts_right').outerHeight();
                var mh = Math.max(h1, h2);//取最大的值
                jQuery('.abouts_left,.abouts_right').height(mh);
            }
    );
</script>
<div id="left" class="abouts_left">
	<div class="column">
		<div class="tit"><h2>帮助中心</h2></div>
		<div class="cont">
			<ul id="faqLink">
				<!--<li><a href="http://www.usitrip.com/faq_question.php">常见问题</a></li>
				<li class="selected"><a href="http://www.usitrip.com/order_process.php">订购流程</a></li>
				<li><a href="http://www.usitrip.com/companions_process.php">结伴同游流程</a></li>
				<li><a href="http://www.usitrip.com/order_agreement.php">订购协议</a></li>
				<li><a href="http://www.usitrip.com/payment.php">支付方式</a></li>
				<li><a href="http://www.usitrip.com/change_plan.php">变更取消和退款条例</a></li>
				<li><a href="http://www.usitrip.com/visa_related.php">签证相关</a></li>
				<li><a href="http://www.usitrip.com/tour_america_need.php">旅美须知</a></li>
				<li><a href="http://www.usitrip.com/insurance.php">旅游保险(强烈建议购买)</a></li>
				<li><a href="http://www.usitrip.com/faq_points.php">会员积分</a></li>
				<li><a href="http://www.usitrip.com/studytour.php">海外游学</a></li>
				<li><a href="http://www.usitrip.com/down_load.php">下载专区</a></li>-->
                {{$data.left_nav.li_info}}
			</ul>
		</div>
	</div>
</div>